# Core
numpy==1.26.4
pandas==2.2.2

# ML
scikit-learn==1.4.2
xgboost==2.0.3

# Deep Learning (CPU 기준)
torch==2.2.2

# Utils
joblib==1.4.2
tqdm==4.66.4
pyarrow==16.1.0

# Visualization (선택 but 추천)
matplotlib==3.8.4
seaborn==0.13.2